page-home {
    .main{
        background-color: peachpuff;

        ion-item, ion-checkbox{
            background-color: peachpuff;
            border: 0%;
        }

        
    }

    


    h2{
        color: maroon;
        text-align: center;
    }

    #group1 {
        width: 100%;
    
       display: flex;
       flex-direction: row ;
       justify-content: center;
       
       button{
            width: 15%;
            background: gray;
       }

       h2{
           display: block;
           width: 15%;
       }
       
    }

    #group3 {
       
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-left: 30%;
        margin-top: 1%;

        button{
            background: gray;
            width: 40%;
        }
        
    }

    #group2{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-left: 30%;
        margin-top: 2%;

        button{
            background: gray;
            width: 40%;
        }


    }

   

    
}
